* {
    box-sizing: border-box;
    margin: 0;
}
 /* Logo Booleaner  */

header {
    height: 150px;
    background-image: url(img/pattern.png);
    background-color: rgb(74, 158, 251);
}

.logo {
    position: relative;
    top: 80px;
    left: 10px;
    width: 200px;
}

/* Corpo pagina e tabella */


/* Footer e correlati */

