* {
    box-sizing: border-box;
    margin: 0;
}
 /* Logo Booleaner  */

header {
    height: 150px;
    background-image: url(img/pattern.png);
    background-color: rgb(74, 158, 251);
}

.logo {
    position: relative;
    top: 80px;
    left: 20px;
    width: 200px;
}

/* Corpo pagina e tabella */
h1 {
    margin-top: 20px;
    margin-left: 20px;;
}

h3 {
    color: rgb(146, 145, 145);
    margin-left: 20px;
}

h4 {
    margin-left: 20px;
    color: rgb(146, 145, 145);
}

.photos {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;;
}

p {
    margin: 20px 20px 20px 20px; 
}

.unordered-list {
    margin-top: 20px;
}

table {
    margin-top: 20px;
    margin-left: 20px;;
    width: 100%;
    text-align: left;
}

th {
    background-color: rgb(0, 168, 226);
    color: white;
    width: 33%;;
}

tr {
    background-color: rgb(174, 229, 241);
}

#row-white {
    background-color: white;
}

/* Footer e correlati */
.image {
    margin-top: 20px;
    margin-left: 20px;
    width: 300px;
    height: 200px;
    background-size: cover;  
}

.monitor {
    background: url("img/monitor.jpg") no-repeat;
}

.graph {
    background: url("img/graph.jpg") no-repeat;
}

.footer-text {
    color: white;
    font-size: 25px;
    line-height: 50px;
    font-weight: bold;
    margin-left: 20px; 
}
